/node_modules
/npm-debug.log
/views/*.css
/views/*.png
/views/*.jpg
/views/*.jpeg
/.DS_Store
/static/.DS_Store
/static/css/.DS_Store
/views/index.js
/views/react-resume/*
/.vscode
node_modules
npm-debug.log
.DS_Store
.vscode
.idea
