<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="/img/hing.jpeg" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/hing.jpeg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
</head>

<body>
    <div class="resume-div__background">
        <!--可以移动的背景图片-->
        <img src="/img/bg.jpg" alt="">
    </div>
    <div class="resume-header-top">
        <div class="resume-div-header" id="resumeHeader">
        </div>
    </div>
    <section id="resumeContent">
    </section>
    </div>
    <script src="/index.js"></script>
    <script>
        /*
         * prototype test
         */
        function Foo(a) {
            this.a = a;
        }
        Foo.prototype.bar = function() {
            console.log(this.a);
        }
        var b = new Foo('I am powerful.');
        b.bar();
    </script>
</body>

</html>
