* {
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-size: 12px;
}

.resume-div__wrapper{
    width: 100%;
    min-height: 400px;
}

.resume-div__content__wrapper{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

