$width:100%;
$height:30px;
$defalut_size:16px;

*{
  margin:0;
  padding:0;
}
.content{
  width:100%;
  height:auto;
  background:repeat scroll 0 0 #fff;
  position:relative;
  font-size:$defalut_size - 2;

  h4{
    width:$width;
    height:$height;
    background:repeat scroll 0 0 #58B2DC;
    color:#fff;
    text-align:center;
    line-height:$height;
    font-size:$defalut_size;
    font-weight: normal;
    //box-shadow: 2px 2px 2px #ccc;
  }

  a{
    color:#58B2DC;
  }
  ul{
    list-style: none;
    margin:5px;
    li{
      margin:5px 0;
    }
  }

}