@import url('https://fonts.googleapis.com/css?family=Baloo|Gloria+Hallelujah');
html,body{
    background: #fff;
    height: 100%;
    font-family: 'Gloria Hallelujah', cursive;
}
body{
    margin:0;
    height: 100%;
    font-family: 'Gloria Hallelujah', cursive;
}
section{
}
.clearfix{
    &::after{
        content:'.';
        visibility: hidden;
        clear: both;
        display: block;
        height:0;
    }
}
.resume-div__background{
    width:100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    //background:url('../img/bg.jpg') no-repeat scroll 0 0;
    z-index:1;
    filter: brightness(0.5);
    img{
        width: 100%;
        height: 100%;
    }
}
