
.resume-div__content__wrapper{
    float: right;
    padding:10px 20px;
    position: relative;
    z-index:2;
    color:#fff;
    text-align: center;
    width: 100%;
    color:#000;
}
.resume-h4__content__header{
}
