.resume-header-top{
    width:100%;
    float:left;
    position: relative;
    z-index:2;
    .resume-title{
        margin-top: 100px;
    }
}
.resume-i-logo{
    position: absolute;
    background:url('../img/logo.png') no-repeat scroll 0 0 ;
    background-size: 100px 100px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
    width:100px;
    height: 100px;
}
ul.resume-menu{
    margin:0;
    padding:0;
    width: 650px;
    list-style-type: none;
    position: absolute;
    left: 50%;
    margin-left: -325px;
    top:0;
    li{
        text-align: center;
        float: left;
        padding:5px;
        height: 30px;
        margin-top:20px;
        width:100px;
        line-height: 30px;
        border-radius:10px;
        cursor:pointer;
        color:#000;
        margin-right: 20px;
        font-size: 14px;
        // animation: 5s bubble infinite alternate;
        transition: all .3s ease-in-out;
        a{
            color:inherit;
            text-decoration:none;
            display: block;
        }
        &:hover{
            // animation-duration:.5s;
            // animation-name: menu-text;
            font-size:18px;
            box-shadow:5px 5px 10px #000;
            width:100px;
            height:30px;
        }
    }
}
@keyframes menu-text{
    from{
        //background:#fff;
        color:#000;
        font-size:1em;
        box-shadow:none;
    }
    to{
        box-shadow:10px 10px 10px #000;
    }
}

@keyframes bubble{
    from {
        font-size:0;
    }
    to{
        font-size: 12px;
    }
}

.resume-div__description{
    padding:4%;
    transition: all .5s ease-in-out;
    color:#000;
    //font-family: 'Pangolin', cursive;
    &:hover{
        //box-shadow:1px 1px 10px #ccc;
        //border-radius:20px;
    }
    b{
        //font-family: 'Pangolin', cursive;
        display: block;
    }
    b,p{
        text-align: center;
        a{
            color:#000;
        }
    }
}
