.resume-header-top{
    width:100%;
    float:left;
    position: relative;
    z-index:2;
}
.resume-i-logo{
    background:url('../img/logo.png') no-repeat scroll 0 0 ;
    background-size: 100px 100px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
    width:100px;
    height: 100px;
}
ul.resume-menu{
    margin:0;
    padding:0;
    width: 100%;
    list-style-type: none;
    position: absolute;
    top:0;
    left:0;
    li{
        text-align: center;
        padding:5px;
        height: 50px;
        margin-top:20px;
        width:50px;
        line-height: 50px;
        border-radius:50%;
        border:1px solid #e3e3e3;
        cursor:pointer;
        color:#000;
        animation: 5s bubble infinite alternate;
        a{
            color:inherit;
            text-decoration:none;
            transition:all .5s ease-in-out;
        }
        &:hover{
            animation-duration:.5s;
            animation-name: menu-text;
            box-shadow:10px 10px 10px #000;
            width:50px;
            height:50px;
            line-height: 50px;
            font-size:12px;
        }
    }
}
@keyframes menu-text{
    from{
        //background:#fff;
        color:#000;
        font-size:1em;
        box-shadow:none;
    }
    to{
        box-shadow:10px 10px 10px #000;
    }
}

@keyframes bubble{
    from {
        font-size:0;
    }
    to{
        font-size: 12px;
    }
}

.resume-div__description{
    padding:4%;
    transition: all .5s ease-in-out;
    color:#000;
    font-family: 'Gloria Hallelujah', cursive;
    //font-family: 'Pangolin', cursive;
    &:hover{
        //box-shadow:1px 1px 10px #ccc;
        //border-radius:20px;
    }
    b{
        //font-family: 'Pangolin', cursive;
        font-family: 'Gloria Hallelujah', cursive;
        display: block;
    }
    b,p{
        text-align: center;
        a{
            color:#000;
        }
    }
}
